body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}


html {
    scroll-behavior: smooth;
}

/* NAVBAR CSS */

.navbar-container {
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 6.8rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    margin-top: -20px;
}

header {
    margin-top: 20px;
    width: 100vw;
}

.user-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    margin-left: 4rem;
    cursor: pointer;
}

.user-name {
    margin-left: 3rem;
    font-family: "Poetsen One", sans-serif;
}

.navbar-login {
    margin-right: 10px;
}

.logout-btn {
    margin-left: 20px;
}


/* PRODUCT CSS */

.list-container .lists {
    background-color: hsl(0, 0%, 95%);
    border: none;
    list-style: none;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 75vw;
}

.lists p {
    margin: 0 30px;
}

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.loader {
    width: 70px;
    height: 70px;
    position: relative;
}

.loader:before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #007bff;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse 1s ease-in-out infinite;
}

.loader:after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #007bff;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 2s linear infinite;
}

.loader-text {
    font-size: 24px;
    margin-top: 20px;
    color: #007bff;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

@keyframes pulse {
    0% {
        transform: scale(0.6);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(0.6);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    display: none;
}

.loaded .loader-container {
    display: none;
}

.loaded .content {
    display: block;
}

.product-input-container input {
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 10px;
    padding: 15px;
    height: 2.5rem;
    margin: 0 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-input-container .submit-btn {
    text-align: center;
}

.product-title {
    font-family: "Roboto", sans-serif;
}

.text {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
}

.delete-btn {
    margin: 0 25px;
}

/* LOGIN CSS */

.login-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login {
    text-align: center;
    border: 1px solid hsl(0, 0%, 20%);
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 10%);
}

.login .login-text {
    color: hsl(0, 0%, 95%) !important;
    font-size: 3rem;
    margin: 40px;
    font-family: 'Oswald';
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 20rem;
    height: 2.5rem;
    font-family: 'Poppins';
    padding: 10px;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px;
    margin: 10px;
    color: hsl(0, 0%, 10%) !important;
    transition: border-color 0.5s ease;
}

.login-form input:focus {
    border-color: hsl(255, 92%, 76%) !important;
    outline: none;
    box-shadow: 0 0 10px hsl(255, 92%, 76%);
    transition: border-color 0.5s ease, box-shadow 0.3s ease;
}

.login-form input::placeholder {
    color: hsl(0, 0%, 10%) !important;
}

.login-form .register-here {
    color: hsl(0, 0%, 95%) !important;
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 0.8rem;
    cursor: pointer;
}

.login-form .login-button {
    font-family: 'Oswald';
    border: 1px solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 100%);
    padding: 5px 10px;
    transition: background-color 0.5s ease;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
}

/* REGISTER CSS */

.register-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register {
    text-align: center;
    border: 1px solid hsl(0, 0%, 20%);
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 10%);
}

.register .register-text {
    color: hsl(0, 0%, 95%) !important;
    font-size: 3rem;
    margin: 40px;
    font-family: 'Oswald';
}

.register-form input {
    width: 20rem;
    height: 2.5rem;
    font-family: 'Poppins';
    padding: 10px;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px;
    margin: 10px;
    color: hsl(0, 0%, 10%) !important;
    transition: border-color 0.5s ease;
}

.register-form input::placeholder {
    color: hsl(0, 0%, 10%) !important;
}

.register-form input:focus {
    border-color: hsl(255, 92%, 76%) !important;
    outline: none;
    box-shadow: 0 0 10px hsl(255, 92%, 76%);
    transition: border-color 0.5s ease, box-shadow 0.3s ease;
}

.register-form button {
    font-family: 'Oswald';
    border: 1px solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 100%);
    padding: 5px 10px;
    transition: background-color 0.5s ease;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
}

.register-form .login-here {
    color: hsl(0, 0%, 95%) !important;
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 0.8rem;
    cursor: pointer;
}

/* T0D0LIST CSS */

.todo-list-title {
    font-family: "Roboto", sans-serif;
}

.todo-list-container .todo-list-items {
    list-style-type: none;
    padding: 20px 40px;
    margin: 15px 0;
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    color: hsl(0, 0%, 10%);
}

.todos-container {
    width: 75%;
}

.todo-form input[type="text"] {
    height: 2.5rem;
    width: 20rem;
    border: 1px solid hsl(0, 0%, 10%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 20px;
}

.todo-form .todo-submit-btn {
    margin-left: 20px;
    border-radius: 10px;
}

.card-is-empty {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* PRODUCT CARD */

.card img {
    max-width: 18rem;
    height: 18rem;
}

.card {
    transition: transform 0.5s ease, box-shadow 0.6s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 10px hsla(0, 0%, 20%, 0.5);
}

.card-body .card-name,
.card-body .card-price,
.card-body .card-quantity,
.card-body .buy-btn {
    font-family: "Roboto", sans-serif;
}

.card-body .buy-btn {
    padding: 5px 20px;
}

.card-body .card-quantity span {
    font-weight: bold;
}

/* GALLERY CSS */

/* .gallery-container {
    min-height: 85vh;
} */

.cards-container {
    width: 60vw;
}

.gallery-card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
}

.gallery-card img {
    width: 190px;
    height: 254px;
    border-radius: 30px;
}

.gallery-button {
    color: hsl(271, 98%, 25%);
    font-size: 60px;
    height: 65px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2rem;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* PROFILE CSS */

  .profile-container {
    margin-top: 80px;
    height: 71vh;
    width: 100vw;
  }

  .profile-background {
    background-color: hsl(0, 0%, 75%);
    border-radius: 20px;
    width: 80rem;
    padding: 10px;
  }

  .profile-title {
    margin: 20px 30px;
    width: auto;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
  }

  .profile-col {
    height: 22rem;
  }

  .image-btn {
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }

.profile-tag,
.profile-details {
    font-size: 1.3rem;
    margin: 10px 10px;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

.profile-details {
    font-weight: bold;
}

.edit-icon {
    font-size: 1.6rem;
}

.edit-profile-btn {
    margin: 20px 0px;
}

.profile-details-edit {
    background-color: hsl(0, 0%, 95%);
    font-size: 1.3rem;
    margin: 10px 10px;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: none;
}