body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


html {
    scroll-behavior: smooth;
}

/* NAVBAR CSS */

.navbar-container {
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5.5rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
}


/* PRODUCT CSS */

.list-container .lists {
    background-color: hsl(0, 0%, 95%);
    border: none;
    list-style: none;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 75vw;
}

.lists p {
    margin: 0 30px;
}

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.loader {
    width: 70px;
    height: 70px;
    position: relative;
}

.loader:before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #007bff;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse 1s ease-in-out infinite;
}

.loader:after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #007bff;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 2s linear infinite;
}

.loader-text {
    font-size: 24px;
    margin-top: 20px;
    color: #007bff;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

@keyframes pulse {
    0% {
        transform: scale(0.6);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(0.6);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content {
    display: none;
}

.loaded .loader-container {
    display: none;
}

.loaded .content {
    display: block;
}

.product-input-container input {
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 10px;
    padding: 15px;
    height: 2.5rem;
    margin: 0 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-input-container .submit-btn {
    text-align: center;
}

.product-title {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    border-bottom: 2px solid hsl(0, 0%, 80%);
    padding: 0 0 10px 0;
}

.text {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
}

.delete-btn {
    margin: 0 25px;
}

/* LOGIN CSS */

.login-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login {
    text-align: center;
    border: 1px solid hsl(0, 0%, 20%);
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 10%);
}

.login .login-text {
    color: hsl(0, 0%, 95%) !important;
    font-size: 3rem;
    margin: 40px;
    font-family: 'Oswald';
}

.login-form input[type="email"], 
.login-form input[type="password"] {
    width: 20rem;
    height: 2.5rem;
    font-family: 'Poppins';
    padding: 10px;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px;
    margin: 10px;
    color: hsl(0, 0%, 10%) !important;
    transition: border-color 0.5s ease;
}

.login-form input:focus {
    border-color: hsl(255, 92%, 76%) !important;
    outline: none;
    box-shadow: 0 0 10px hsl(255, 92%, 76%);
    transition: border-color 0.5s ease, box-shadow 0.3s ease;
}

.login-form input::placeholder {
    color: hsl(0, 0%, 10%) !important;
}

.login-form .register-here {
    color: hsl(0, 0%, 95%) !important;
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 0.8rem;
    cursor: pointer;
}

.login-form .login-button {
    font-family: 'Oswald';
    border: 1px solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 100%);
    padding: 5px 10px;
    transition: background-color 0.5s ease;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
}

/* REGISTER CSS */

.register-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register {
    text-align: center;
    border: 1px solid hsl(0, 0%, 20%);
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 10%);
}

.register .register-text {
    color: hsl(0, 0%, 95%) !important;
    font-size: 3rem;
    margin: 40px;
    font-family: 'Oswald';
}

.register-form input {
    width: 20rem;
    height: 2.5rem;
    font-family: 'Poppins';
    padding: 10px;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px;
    margin: 10px;
    color: hsl(0, 0%, 10%) !important;
    transition: border-color 0.5s ease;
}

.register-form input::placeholder {
    color: hsl(0, 0%, 10%) !important;
}

.register-form input:focus {
    border-color: hsl(255, 92%, 76%) !important;
    outline: none;
    box-shadow: 0 0 10px hsl(255, 92%, 76%);
    transition: border-color 0.5s ease, box-shadow 0.3s ease;
}

.register-form button {
    font-family: 'Oswald';
    border: 1px solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 100%);
    padding: 5px 10px;
    transition: background-color 0.5s ease;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
}

.register-form .login-here {
    color: hsl(0, 0%, 95%) !important;
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 0.8rem;
    cursor: pointer;
}